/*Home page CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#navi-bg {
    background-color: #91C788 !important;
}

#navigation-name {
    color: rgba(0, 0, 0, 0.5);
}

#navigation-name:hover {
    color: #FEFFDE;
}

/*Nav bar end */

/*Mid Section start */
.jumbotron{width: 100%;height: 100%;color:rgb(107, 107, 25);padding-top: 20px;margin-bottom: 0px;}
.jumbotron img{width:100%;}

/*Mid Section 2nd part */
.mid-section-2 h1{text-align: center;font-family: cursive;color: rgb(107, 107, 25);} 

/* Mid Section end */

/*flex container for cards item*/
.flex-container{display: flex;justify-content: space-around;}

/*Bottom Section start */
.bottom-banner-left{display: flex;gap: 400px;}
.bottom-banner-left h2{font-style: italic;padding-left: 30px;}
.bottom-banner-left-caption{font-style: italic;padding-left: 30px;display: flex;flex-direction: column;margin-top: 100px;}


/*Bottom background*/
.bottom-bg{background-color: aquamarine;height:225px;margin-bottom: -1000px;text-align: center;color: rgb(107, 107, 25);}
.bottom-bg button{margin-left:75px;margin-top:10px;}
.form-group{display:flex;width:300px;margin: 0 auto;}

/* footer start */ 
footer{margin-top:1000px;height: 50px;}
/* footer end */

/* Misc for home.html */

/*horizontal rule */
hr{background-color:grey;height: 2px;}

/*Card1 button confi */
a.btn.btn-primary{justify-content: center;}




/*product listing css*/


/*left banner with the dress*/
.left-banner{display:flex;justify-content: center;align-items: center 400px;width: 400px;;}
.left-banner img {height:300px;width: 400px;margin-left:200px;}

.right-banner{display:flex;
              width: 60%;height: 300px;
              float:right;
              margin-top: -300px;
}


.right-banner-bottom{display: flex;justify-content:center;align-items: center;column-gap: 30px;}
.price-tag{padding-bottom:5px;}


/*Bottom Banner*/
.bottom-banner .title{text-align: center;}
.images{display: flex;justify-content: space-around;}
.images img{width:400px;height: 300px;}


/*Last Banner*/
.last-banner{display: flex;justify-content: space-around;font-weight: bolder;background-color: turquoise;}
.last-banner.first{margin-top: 20px;}


/*Card Configuration*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


