* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/* ------------- Navigation bar for entire webpages------------- */

#navi-bg {
    background-color: #3FC1C9 !important;
}

#navigation-name {
    color: rgba(0, 0, 0, 0.5);
}

#navigation-name:hover {
    color: #FEFFDE;
}

/*--------------------- Home page--------------------- */

.bazhub-icon {
    height: 40px;
}

.new-arrival {
    background-color: #3FC1C9;
    border-radius: 4%;
}

.jumbotron {
    background-image:url(../image/giftcard.png);
    background-size: cover; 
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.subscribe-newsletter {
    /* background-color: #99206C; */
    background-color: #e9d6cf;
}

.subscribe-font {
    font-size: 2em;
    font-weight: bolder;
    color: #cd3679;
}

.subscribe-button {
    background-color: #cd3679;
}

i.bi.bi-play-fill {
    color: #e9d6cf;
}

/* --------------------- About us page--------------------- */

.about-us {
    background-image: url("../image/happy-family.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-us-description {
    width: 300px;
    margin-left: auto;
    color: rgb(238, 238, 238);
    background-color: rgba(23, 107, 135, 0.3);
    padding: 40px;
    margin-right: 90px;
}

/* Site map section */

.site-map {
    background-color: #364F6B;
}

.site-map-link a {
    color: white;
}

.site-map-link a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    border-top: #FEFFDE solid;
    background-color: #364F6B;
}

/* --------------------- Create New Product page--------------------- */
/* upload product image section  */

.product-image-size {
    width: 200px;
}

.position-fixed.bottom-0 {
    z-index: 5; 
    right: 50%; 
    bottom: 10%;
    min-width: 250px;
    transform: translate(50%);
}

/* --------------------- Product list page--------------------- */

.btn-info {
    background-color: #176B87;
}

.second-nav {
    background-color: #F5F5F5;
}

.second-nav-mobile {
    display: none;
}

.filter-sort-bar .number-of-products {
    text-align: right;
 }

button[aria-expanded=true] .bi-chevron-down {
    display: none;
}
button[aria-expanded=false] .bi-chevron-up {
    display: none;
}

.card-img-fit {
    object-fit: contain;
    aspect-ratio: 1/1;
}

.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay, .bs-canvas {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 32px 32px;    
}

@media (max-width: 576px) {

    .second-nav .category-desktop {
        display: none;
    } 

    .second-nav {
        padding-left: 2.3em;
        padding-right: 2.3em;
    } 

    .second-nav-mobile {
        display: flex;
        justify-content: space-evenly;
        background-color: #F5F5F5;

    } 

    .second-nav-mobile img {
        height: 40px;
    }
    
    .filter-sort-bar a {
        margin-left: 0.8em;
        margin-right: 1em;
    }

    .filter-sort-bar .sort-by {
        padding-top: 1em;
        padding-left: 0.8em;
        padding-right: 1em;
    }

    .filter-sort-bar .number-of-products {
        text-align: left;
        padding-bottom: 1em;
    }  
    
    .bs-canvas {
        top: 0;
        z-index: 1110;
        overflow-x: hidden;
        overflow-y: auto;
        width: 250px;
        position: fixed;
        background-color: #F5F5F5;
        height: 100%;	
    }

    .bs-canvas-left {
        left: 0;
        margin-left: -250px;
    }
    
    .bs-canvas-right {
        right: 0;
        margin-right: -250px;
    }

    .bs-canvas-overlay.show {
        opacity: 0.85;
        z-index: 1100;
    }

}


/* --------------------- Order Cart Page --------------------- */ 

.btn-group .notActive{
    color: #3276b1;
    background-color: #fff;
}

.btn-group a {
    width: 40px;
}

.quantity-input {
    max-width: 70px;
}

/* --------------------- Product Details Page --------------------- */

.shopping-cart-img {
    max-height: 300px;
}

/*Configuration for stars*/
.fa-star.checked {
    color: orange;
} 

.fa-star.unchecked {
    color: lightgrey;
} 
