* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

/* ------------ Navigation bar ------------ section */

#navi-bg {
    background-color: #3FC1C9 !important;
}

#navigation-name {
    color: rgba(0, 0, 0, 0.5);
}

#navigation-name:hover {
    color: #FEFFDE;
}

/* ------------ About us ------------ section */

.about-us {
    background-color: #DDFFBC;
}

/* ------------ Team members ------------ section */


/* ------------ Site map section ------------ */

.site-map {
    background-color: #52734D;
}

.site-map-link a {
    color: white;
}

.site-map-link a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    border-top: #FEFFDE solid;
    background-color: #364F6B;
}


/* --------------------------------------------------- */
/*  Add new product page -> upload product image section 

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed #91C788;
    border-radius: 3px;
    transition: 0.2s;
   
  }
  
  .choose-file-button {
    flex-shrink: 0;
    background-color: rgba(47, 251, 88, 0.4);
    border: 1px solid rgba(47, 251, 88, 0.8);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;  
  }
  
*/

/* --------------------------------------------------- */
/* ------------  Product list page ------------  */

.second-nav {
    background-color: #F5F5F5;
}

